.find-list {
    background-color: var(--light);
    z-index: 2;
    position: absolute;
    max-height: 10rem;
    overflow: auto;
    border-color: var(--gray);
    border-width: 0.5px;
    border-style: solid;

}
.photo-small {
    display: inline-block;
    /*width: 5rem;*/
}
.photo-small img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: block;
}
.form-control-clear {
    bottom: 0.6rem;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 1.5rem;
    z-index: 10;
    padding-right: 8rem;
}
.has-clear {
    margin-bottom: 0;
}
.table {
    margin-top: 1rem;
}
.english-label {
    font-weight: lighter;
    font-size: smaller;
}
.patient-photo {
    width: 8rem;
    cursor: pointer;
    border-radius: 50%;
}
@media (max-width: 767.98px) {
    .patient-photo {
        width: 5rem;
    }
}
.operation-row {
    border-style: solid;
    border-width: unset;
}
.clickable {
    cursor: pointer;
}
.fa, .fas, .far {
    margin-right: .5rem;
}